.contact-page {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}
.header {
  padding: 1rem;
}
.phone {
  font-size: 1.2rem;
  font-weight: normal;
}
.phone-title {
  padding: 0.5rem;
}
.phone-info {
  display: inline-block;
}
.phone-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #1095c1;
  cursor: pointer;
}
.phone-number {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.title {
  font-size: 1rem;
  display: inline-block;
  padding-bottom: 1rem;
}
.message {
  width: 70%;
  margin: 0 auto;
}
.message label,
.message button {
  margin: 0 auto;
  width: 60%;
}
.socials {
  font-size: 2rem;
  color: rgb(0, 106, 206);
}
.socials span {
  margin: 0 1rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .message label,
  .message button {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .contact-page {
    width: 80%;
  }
  .message label,
  .message button {
    width: 80%;
  }
}
@media (max-width: 720px) {
  .contact-page {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .contact-page {
    margin: 10px auto;
  }
  .header {
    padding: 0.5rem;
  }
  .phone {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .phone-title {
    flex-basis: 100%;
  }
  .phone-info {
    flex-basis: 50%;
  }
  .phone-icon {
    font-size: 1.5rem;
  }
  .phone-number {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
  }
  .message {
    width: 90%;
    margin: 0 auto;
  }
  .message label,
  .message button {
    width: 100%;
  }
}
