/* https://picocss.com/docs/ */
/* 
 Breakpoint	<576px	≥576px	≥768px	≥992px	≥1200px
Viewport	100%	540px	720px	960px	1140px */

.login-page,
.form {
  margin: 4rem auto;
  width: 50%;
}
.cart {
  min-width: 50%;
  z-index: 1999;
}
.introduction {
  margin: 4rem auto;
}
.items-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item-card {
  flex-basis: 26%;
}
@media (max-width: 997px) {
  .item-card {
    flex-basis: 36%;
  }
}
@media (max-width: 768px) {
  .item-card {
    flex-basis: 46%;
  }
}

@media (max-width: 576px) {
  .login-page,
  .form {
    margin: 2rem auto;
    width: 80%;
  }
  .cart {
    min-width: 80%;
  }
  .introduction {
    margin: 2rem auto;
  }
  .item-card {
    flex-basis: 80%;
  }
}
